.keyContainer{
    min-width: 50vw; /* Increased maximum width */
    background-color: #fff;
    padding: 30px; /* Increased padding */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.newApiKey{
    border: none;
    outline: none;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}

.newApiKey:focus{
    outline: none;
    border: none;
}

.apiKeyBtn{
    background-color: #3498db;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
}
