.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.logoIcon{
    color: #3498db;
    font-size: 26px;
}

.activeTab{
    background-color: #e6f2f9;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}

.notActive{
    background-color: white;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}
.sidebar{
  height: max-content;
  background-color: #fff;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  color: #556066;


}
.insideSidebar{
    padding: 2rem;
}

.logoutContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #556066;
    font-size: 16px;
    cursor: pointer;
}
.logout {
    transform: scaleX(-1);
  }
.logoutBtn:hover{
    background-color: #91afc1;
    color: #1F363D;
}
@media screen and (max-width: 1089px) 
{
    .sidebar{
        display: flex;
        flex-direction: row;
        max-height: 4rem;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .insideSidebar{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px;
        margin: 10px;
    }
    .activeTab{
        padding: 10px;
    }
    .notActive{
        padding: 0;
    }
}