table {
    border-collapse: collapse;
    font-family: 'Inter', sans-serif;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  }
  
  th, td {
    padding: 14px;
  }
  
  th {
    background-color: rgb(243 244 246);
    color: gray;
    text-align: left;
    font-size: 12px;
  }
  
  tr {
    transition: background-color 0.3s;
    color: #1F363D;
    font-size: 14px;
    font-weight: bold;

    background-color: white;
    border: 1px solid rgb(229 231 235); /* Add borders to th and td */
  }
  
  .icon {
    margin: 0 10px;
    cursor: pointer;
    color: #7899b0;
  }
  
  .icon:hover {
    color: #c0392b;
  }
  
  .icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }
  
  .tableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .active, .unblocked{
    background-color: rgb(209, 242, 209);
    color: rgb(62, 100, 5);
  }

  .inactive, .blocked{
    background-color: rgb(249, 211, 211);
    color: rgb(132, 5, 5);
  }

  .bullet{
    width: fit-content;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
  }
@media screen and (max-width: 1089px) 
  {
    .tableContainer{
        font-size: 12px;
    }
    th,td{
        padding: 10px;
    }
  }